:root {
    --accent-color: #4d11c1;
    --green: #8bf78b;
    --background: #ffffff;
    --gray-darkest-2x: #444;
    --gray-darkest: #888;
    --gray-darker: #aaa;
    --gray-dark: #dddddd;
    --gray-100: #f7f7f7;
    --gray-normal: var(--background);
    --border-color: #cdcdcd;
    --border-thick-dark: 5px solid var(--gray-darkest);
    --border-thin-dark: 1px dashed var(--gray-darkest);
    --padding-wide: 1rem;
    --padding-medium: 0.75rem;
    --padding-normal: 0.5rem;
    --padding-small: 0.25rem;
    --border-radius-medium: 0.25rem;
    --color-error-bg: #ffd6d6;
    --color-error-text: #a73232;
    --transition-peoperty: all;
    --transition-duration: 0.5s;
    --transition-easing: ease;
    --border-thickness: 1px;
    --border-style: solid;
    --border-color: var(--gray-dark)
}

body.dark {
    --accent-color: #f00;
    --green: #8bf78b;
    --background: #111;
    --gray-darkest-2x: #ddd;
    --gray-darkest: #aaa;
    --gray-darker: #777;
    --gray-dark: #111;
    --gray-100: #111;
    --gray-normal: var(--background);
    --white: #fff;
    --black: #000
}

@font-face {
    font-family: Gotham;
    src: url("/Content/webfonts/GothamBook.ttf");
    font-weight: normal
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    color: #000;
    box-sizing: border-box;
    font-family: Gotham;
    transition: color 250ms linear,background-color 250ms linear
}

body {
    height: 100%;
    min-height: 100vh
}

h1, h2, h3, h4, h5, h6, p, a, li, em, b, i, sup, sub, small, strong, label, input, textarea, button {
    font-family: Gotham,Montserrat,"Miriam Libre",sans-serif
}

.container {
    width: 100%;
    height: 100vh;
    min-height: 100vh
}

.wrapper {
    margin: 0 auto;
    background-color: var(--background)
}

.navbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 5rem;
    padding: 1rem;
    border-bottom: 1px solid var(--gray-darkest)
}

.logo {
    width: 4rem
}

    .logo i {
        padding: .5rem;
        font-size: 2rem
    }

.search-container {
    width: 25%;
    margin-left: 1rem;
    display: flex;
    position: relative
}

    .search-container .input {
        width: 100%
    }

    .search-container .search-icon {
        font-size: 1.5rem;
        position: absolute;
        right: .25rem;
        top: .25rem;
        border-radius: .25rem;
        cursor: pointer;
        padding: .25rem
    }

        .search-container .search-icon:hover {
            background-color: var(--border-color)
        }

        .search-container .search-icon i::before {
            color: var(--gray-darkest)
        }

.nav-menu {
    margin-left: auto
}

    .nav-menu .nav-list {
        margin-left: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex: 1;
        height: 100%
    }

        .nav-menu .nav-list li.menu-item {
            padding: .75rem;
            list-style-type: none;
            border-radius: .25rem
        }

            .nav-menu .nav-list li.menu-item:hover {
                background-color: var(--gray-dark)
            }

            .nav-menu .nav-list li.menu-item.active {
                background-color: var(--gray-darker)
            }

            .nav-menu .nav-list li.menu-item a {
                text-decoration: none;
                padding: .75rem
            }

.input, .button {
    border: 2px solid var(--border-color);
    padding: .5rem .75rem;
    font-size: 1rem;
    outline: none;
    border-radius: .25rem
}

textarea.input {
    resize: vertical;
    min-height: 5rem;
    max-height: 7rem
}

.input:focus, .input:active {
    border: 2px solid var(--accent-color)
}

.input-short {
    padding: .1rem .55rem
}

.button {
    font-size: 1rem;
    background-color: var(--gray-dark);
    padding: .5rem .75rem
}

.content-wrapper {
    width: 100%;
    height: 100%;
    background-color: var(--gray-dark);
    padding: 0 1rem
}

.content {
    display: flex;
    justify-content: center;
    background-color: var(--gray-dark)
}

    .content .content-main {
        width: 100%
    }

.input-box {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    background: var(--background);
    margin: 5rem 0;
    border: 1px solid var(--border-color);
    border-radius: .25rem
}

    .input-box .input-header {
        padding-bottom: 1rem
    }

    .input-box .input-form {
        width: 75%;
        margin: .5rem 0
    }

        .input-box .input-form input {
            width: 100%;
            margin: .5rem 0
        }

            .input-box .input-form input:last-child {
                margin-bottom: 0
            }

    .input-box .input-actions {
        display: flex;
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding-top: 1rem
    }

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border-top: var(--border-thick-dark)
}

    footer .upper-footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between
    }

        footer .upper-footer .footer-list-container {
            display: flex;
            flex-direction: row;
            justify-content: space-between
        }

            footer .upper-footer .footer-list-container .footer-list-title {
                padding-right: 2rem;
                margin-right: 2rem;
                border-right: 1px solid #bbb
            }

        footer .upper-footer ul {
            list-style-type: none;
            display: flex;
            flex-direction: column
        }

            footer .upper-footer ul li {
                margin-bottom: .75rem
            }

                footer .upper-footer ul li a {
                    text-decoration: none
                }

    footer .lower-footer {
        text-align: center;
        padding-top: 1rem;
        border-top: 1px solid var(--gray-darkest)
    }

.border-button, .a-button {
    border: 2px solid var(--border-color);
    padding: .5rem .75rem;
    font-size: 1rem;
    outline: none;
    border-radius: .25rem;
    cursor: pointer
}

.a-button {
    text-decoration: none;
    user-select: none
}

    .a-button:hover {
        text-decoration: underline;
        background-color: #dfdfdf
    }

.border-button:hover {
    user-select: none;
    background-color: #dfdfdf
}

.gray-6 {
    color: #666
}

.post-header {
    display: flex;
    flex-direction: column;
    border-bottom: var(--border-thick-dark);
    background-color: var(--background);
    border-bottom-right-radius: var(--border-radius-medium);
    border-bottom-left-radius: var(--border-radius-medium)
}

.hero-banner, .user-profile-pic {
    display: flex
}

    .hero-banner .hero-image {
        width: 100%;
        object-fit: cover
    }

.image {
    object-fit: cover;
    border-radius: .25rem
}

.user-info-wrapper {
    display: flex;
    flex-direction: row;
    padding: 0 2rem
}

    .user-info-wrapper .user-profile-pic {
        transform: translateY(-25%);
        padding: 5px;
        background-color: var(--background)
    }

        .user-info-wrapper .user-profile-pic .pofile-pic-wrapper {
            display: flex
        }

        .user-info-wrapper .user-profile-pic img {
            border-radius: 50%
        }

    .user-info-wrapper .user-basic-info {
        padding: 1rem .5rem;
        margin-right: auto
    }

        .user-info-wrapper .user-basic-info .user-handle, .user-info-wrapper .user-basic-info .joined {
            padding-top: .25rem
        }

.anchor {
    text-decoration: none
}

    .anchor:hover {
        text-decoration: underline
    }

.user-info-wrapper .user-info, .user-info-wrapper .user-network {
    padding: 1rem .5rem
}

.user-info-wrapper .user-network {
    margin-left: auto;
    text-align: right
}

.user-info-wrapper .user-info p i::before {
    color: #7d7d7d;
    padding-right: .25rem
}

.posts-container {
    padding: 1rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--gray-dark)
}

    .posts-container .posts-wrapper {
        width: 50%;
        border-radius: .25rem;
        margin: 0 1rem
    }

    .posts-container .sidebar {
        padding: 1rem;
        border: 1px solid var(--border-color);
        background-color: var(--gray-normal);
        border-radius: .25rem
    }

.sidebar-left {
    width: 20%
}

.sidebar-right {
    width: 30%
}

.sidebar .sidebar-content {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: var(--background);
    border: 1px solid var(--border-color);
    border-radius: .25rem
}

    .sidebar .sidebar-content .sidebar-medias-container {
        display: flex;
        flex-direction: column
    }

        .sidebar .sidebar-content .sidebar-medias-container .a-button {
            margin-bottom: var(--padding-normal)
        }

    .sidebar .sidebar-content .a-button:last-child {
        margin-bottom: 0
    }

.posts-container .post-content {
    width: 100%;
    border: 1px solid var(--border-color);
    border-radius: .25rem;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: .25rem;
    background-color: var(--background)
}

    .posts-container .post-content:first-child {
        margin-top: 0
    }

    .posts-container .post-content:last-child {
        margin-bottom: 0
    }

    .posts-container .post-content .post-header {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-bottom: var(--padding-medium);
        border-bottom: var(--border-thin-dark)
    }

    .posts-container .post-content .post-body {
        width: 100%;
        padding: var(--padding-medium) 0;
        border-bottom: var(--border-thin-dark)
    }

        .posts-container .post-content .post-body .post-text .post-text-content {
            font-size: 1.5rem;
            line-height: 2rem
        }

    .posts-container .post-content .post-footer {
        width: 100%
    }

        .posts-container .post-content .post-footer .post-footer-bar {
            padding-top: var(--padding-medium);
            display: flex;
            flex-direction: row
        }

            .posts-container .post-content .post-footer .post-footer-bar .post-footer-primary div::after {
                content: "•";
                color: var(--gray-darker)
            }

            .posts-container .post-content .post-footer .post-footer-bar div:last-child:after {
                content: ""
            }

            .posts-container .post-content .post-footer .post-footer-bar div {
                cursor: pointer
            }

                .posts-container .post-content .post-footer .post-footer-bar div i::before {
                    padding-right: .5rem;
                    color: #777
                }

            .posts-container .post-content .post-footer .post-footer-bar .like:hover i::before {
                color: #54c482
            }

            .posts-container .post-content .post-footer .post-footer-bar .dislike:hover i::before {
                color: #c4545a
            }

            .posts-container .post-content .post-footer .post-footer-bar .comment:hover i::before {
                color: #54c4b1
            }

            .posts-container .post-content .post-footer .post-footer-bar .share:hover i::before {
                color: #bd7be4
            }

    .posts-container .post-content .post-body .post-image {
        width: 100%;
        display: flex
    }

        .posts-container .post-content .post-body .post-image img {
            width: 100%;
            border-radius: .25rem
        }

    .posts-container .post-content .post-header .user-basic-info {
        margin-left: .5rem;
        margin-right: auto
    }

    .posts-container .post-content .post-header .user-book-info {
        text-align: right
    }

.posts-container .sidebar .sidebar-medias-container .sidebar-media-header {
    padding-bottom: .5rem;
    margin-bottom: .5rem;
    border-bottom: 1px dashed var(--gray-darkest);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between
}

.pill {
    width: 1.5rem;
    height: 1.5rem;
    background-color: #333;
    border-radius: 50%;
    text-align: center
}

    .pill small {
        vertical-align: middle;
        color: var(--background);
        font-weight: bold
    }

.posts-container .sidebar-right .sidebar-medias-container .sidebar-medias {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap
}

    .posts-container .sidebar-right .sidebar-medias-container .sidebar-medias .sidebar-media {
        display: flex;
        padding-right: .5rem;
        padding-bottom: .5rem
    }

.profile-pic-flair {
    padding: 5px;
    display: flex;
    align-items: center;
    background-color: #f90c8f;
    background-image: linear-gradient(45deg, #d60000 0%, #ffa600 100%)
}

.rounded {
    border-radius: 50%
}

.book-title-container, .book-details-body {
    padding: 1rem;
    background-color: var(--background);
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

.book-author {
    color: var(--gray-darkest)
}

.book-ratings, .book-stars-count {
    display: flex;
    flex-direction: row
}

.book-stars i {
    cursor: pointer
}

.book-stars-slash, .book-stars-total sub {
    color: var(--gray-darkest)
}

.book-stars i::before {
    color: var(--gray-darkest);
    font-size: .75rem
}

.book-stars i.starred::before {
    color: #000;
    font-size: .75rem
}

.book-stars-container, .book-reviews-container, .book-reviews-container a {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-left: 1rem
}

.book-stars-count .book-stars-total sub {
    vertical-align: bottom
}

.book-reviews-count {
    padding-bottom: .25rem
}

.book-reviews-text {
    color: var(--gray-darkest)
}

.book-details-main {
    padding: 0 2rem
}

.book-images-container {
    padding: 1rem;
    border: 1px solid var(--gray-dark);
    margin-bottom: auto;
    border-radius: var(--border-radius-medium)
}

.book-images-small img {
    cursor: pointer
}

.book-details-main {
    width: 70%
}

.book-stats-container, .book-options-container, .book-stats-container .book-stats, .book-options-container .book-options {
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

.book-stats-container, .book-options-container {
    flex-direction: column
}

    .book-stats-container .book-stats-title, .book-options-container .book-options-title {
        padding-bottom: .75rem
    }

    .book-stats-container .book-stats {
        padding: 1rem 0;
        border-top: 1px dashed var(--gray-darker);
        border-bottom: 1px dashed var(--gray-darker)
    }

        .book-stats-container .book-stats div, .book-options-container .book-options div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center
        }

    .book-options-container .book-options {
        justify-content: start
    }

        .book-options-container .book-options div {
            justify-content: start;
            margin-right: 1rem
        }

.book-stats-attr, .book-options-attr {
    margin-top: var(--padding-normal)
}

.book-options-container {
    justify-content: start
}

.book-summary {
    line-height: 1.5rem;
    padding: 1rem;
    border: 1px solid #dedede;
    border-radius: var(--border-radius-medium);
    margin-bottom: var(--padding-wide)
}

    .book-summary .book-summary-para {
        padding-top: .75rem
    }

        .book-summary .book-summary-para:first-child {
            padding-top: 0
        }

    .book-summary .book-summary-title {
        padding-top: 1.5rem
    }

.book-actions, .book-actions .book-actions-standard {
    display: flex;
    flex-direction: column;
    margin-bottom: auto
}

    .book-actions .book-actions-standard {
        padding: 1rem;
        border: 1px solid var(--gray-dark);
        border-radius: var(--border-radius-medium)
    }

.book-add-to-wish-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center
}

.book-actions .book-price-details h3, .book-actions .book-price-details p, .book-actions .book-dispatch-details p, .book-actions .book-buy-buttons div {
    line-height: 1.5rem;
    margin-bottom: .5rem
}

.book-actions .book-delivery-details, .book-add-to-wish-button {
    margin-top: .5rem
}

.book-actions div[class^=book]:last-child {
    margin-bottom: 0
}

.book-actions .book-price-original strike {
    color: #b86f6f
}

.book-actions .book-price-savings span:last-child {
    color: #52a83c
}

.book-dispatch-details .book-dispatch-usual span, .book-dispatch-details .book-seller span {
    font-weight: bold
}

.book-buy-buttons div {
    display: flex;
    flex-direction: row;
    align-items: center
}

.book-action-text-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%
}

.book-delivery-details p span {
    font-weight: bold
}

.book-delivery-details {
    display: flex;
    flex-direction: row
}

    .book-delivery-details span:first-child {
        margin-right: .5rem
    }

.vertical-separator::before {
    content: "";
    height: 100%;
    width: 1px;
    background-color: var(--gray-darker)
}

.book-stats-container .book-stats, .book-options-container {
    margin-bottom: 1rem
}

.reviews-container .review-stats {
    padding: 1rem;
    border: 1px solid var(--gray-dark);
    border-radius: var(--border-radius-medium)
}

    .reviews-container .review-stats .review-stats-container {
        display: flex;
        flex-direction: row
    }

.review-stats-container .review-stats-stars-calc {
    flex: 1
}

.review-stats-container .review-stats-stars {
    flex: 1
}

.review-stats .review-stats-container .review-stats-stars-calc *, .review-stats .review-stats-container .review-stats-stars-calc *:before {
    font-size: 1.5rem
}

.review-stats-stars {
    display: flex;
    flex-direction: column
}

.review-stats-star {
    display: flex;
    flex-direction: row;
    margin-bottom: var(--padding-normal)
}

.review-user-comment p {
    margin-bottom: var(--padding-normal)
}

    .review-user-comment p:last-child {
        margin-bottom: 0
    }

.review-stats-star .review-stats-star {
    white-space: nowrap;
    width: 15%
}

.review-stats-star .review-stats-star-bar {
    widows: 70%;
    margin: 0 .5rem;
    width: 100%;
    height: 1.5rem;
    background-color: #fff
}

.review-stats-star-bar .review-stats-star-bar-container {
    height: 100%;
    width: 100%;
    border: 1px solid var(--gray-dark);
    border-radius: var(--border-radius-medium);
    overflow: hidden
}

    .review-stats-star-bar .review-stats-star-bar-container .review-stats-star-bar-actual {
        height: 100%;
        width: 0%;
        border-radius: var(--border-radius-medium);
        background-color: teal
    }

.review-stats-star .review-stats-star-pct {
    width: 15%
}

.review-user-info {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center
}

.books-sidebar {
    width: 20%;
    border-right: 1px solid var(--gray-darkest)
}

.book-list {
    border-bottom: 1px solid var(--gray-darkest)
}

    .book-list:last-of-type {
        border-bottom: none
    }

.add-to-wishlist-container {
    opacity: 0;
    transition: opacity .2s ease-in
}

.book-list:hover .add-to-wishlist-container {
    opacity: 1
}

.transition-transform {
    transition: transform 250ms ease-in-out
}

.slide-down {
    transform: translateY(-2rem)
}

.fa::before, .fas::before, .far::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: inherit
}

.post-image-handles {
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%)
}

    .post-image-handles .post-image-handle {
        width: 20px;
        height: 20px;
        background-color: rgba(255,255,255,.4);
        border-radius: 50%;
        transition: background-color 250ms ease-in-out;
        cursor: pointer
    }

        .post-image-handles .post-image-handle:hover {
            background-color: rgba(255,255,255,.6)
        }

        .post-image-handles .post-image-handle.active {
            background-color: rgba(255,255,255,.8)
        }

.m-0 {
    margin: 0
}

.p-0 {
    padding: 0
}

.m-b-normal {
    margin-bottom: var(--padding-normal)
}

.m-l-normal {
    margin-left: var(--padding-normal)
}

.m-t-normal {
    margin-top: var(--padding-normal)
}

.m-r-normal {
    margin-right: var(--padding-normal)
}

.m-x-auto {
    margin-right: auto;
    margin-left: auto
}

.m-r-auto {
    margin-right: auto
}

.m-l-auto {
    margin-left: auto
}

.p-b-normal {
    padding-bottom: var(--padding-normal)
}

.p-l-normal {
    padding-left: var(--padding-normal)
}

.p-t-normal {
    padding-top: var(--padding-normal)
}

.p-r-normal {
    padding-right: var(--padding-normal)
}

.m-b-medium {
    margin-bottom: var(--padding-medium)
}

.m-l-medium {
    margin-left: var(--padding-medium)
}

.m-t-medium {
    margin-top: var(--padding-medium)
}

.m-r-medium {
    margin-right: var(--padding-medium)
}

.p-b-medium {
    padding-bottom: var(--padding-medium)
}

.p-l-medium {
    padding-left: var(--padding-medium)
}

.p-t-medium {
    padding-top: var(--padding-medium)
}

.p-r-medium {
    padding-right: var(--padding-medium)
}

.m-b-wide {
    margin-bottom: var(--padding-wide)
}

.m-l-wide {
    margin-left: var(--padding-wide)
}

.m-t-wide {
    margin-top: var(--padding-wide)
}

.m-r-wide {
    margin-right: var(--padding-wide)
}

.p-b-wide {
    padding-bottom: var(--padding-wide)
}

.p-l-wide {
    padding-left: var(--padding-wide)
}

.p-t-wide {
    padding-top: var(--padding-wide)
}

.p-r-wide {
    padding-right: var(--padding-wide)
}

.m-normal {
    margin: var(--padding-normal)
}

.m-wide {
    margin: var(--padding-wide)
}

.m-medium {
    margin: var(--padding-medium)
}

.m-small {
    margin: var(--padding-small)
}

.p-normal {
    padding: var(--padding-normal)
}

.p-wide {
    padding: var(--padding-wide)
}

.p-medium {
    padding: var(--padding-medium)
}

.p-small {
    padding: var(--padding-small)
}

.m-y-normal {
    margin-top: var(--padding-normal);
    margin-bottom: var(--padding-normal)
}

.m-y-wide {
    margin-top: var(--padding-wide);
    margin-bottom: var(--padding-wide)
}

.m-y-medium {
    margin-top: var(--padding-medium);
    margin-bottom: var(--padding-medium)
}

.m-y-small {
    margin-top: var(--padding-small);
    margin-bottom: var(--padding-small)
}

.p-y-normal {
    padding-top: var(--padding-normal);
    padding-bottom: var(--padding-normal)
}

.p-y-wide {
    padding-top: var(--padding-wide);
    padding-bottom: var(--padding-wide)
}

.p-y-medium {
    padding-top: var(--padding-medium);
    padding-bottom: var(--padding-medium)
}

.p-y-small {
    padding-top: var(--padding-small);
    padding-bottom: var(--padding-small)
}

.m-x-normal {
    margin-right: var(--padding-normal);
    margin-left: var(--padding-normal)
}

.m-x-wide {
    margin-right: var(--padding-wide);
    margin-left: var(--padding-wide)
}

.m-x-medium {
    margin-right: var(--padding-medium);
    margin-left: var(--padding-medium)
}

.m-x-small {
    margin-right: var(--padding-small);
    margin-left: var(--padding-small)
}

.p-x-normal {
    padding-right: var(--padding-normal);
    padding-left: var(--padding-normal)
}

.p-x-wide {
    padding-right: var(--padding-wide);
    padding-left: var(--padding-wide)
}

.p-x-medium {
    padding-right: var(--padding-medium);
    padding-left: var(--padding-medium)
}

.p-x-small {
    padding-right: var(--padding-small);
    padding-left: var(--padding-small)
}

.m-t-0 {
    margin-top: 0
}

.m-b-0 {
    margin-bottom: 0
}

.m-l-0 {
    margin-left: 0
}

.m-r-0 {
    margin-right: 0
}

.p-t-0 {
    padding-top: 0
}

.p-b-0 {
    padding-bottom: 0
}

.p-l-0 {
    padding-left: 0
}

.p-r-0 {
    padding-right: 0
}

.border-no {
    border: none
}

.border-dashed {
    border-style: dashed
}

.border {
    border: var(--border-thickness) var(--border-style) var(--border-color)
}

.border-2 {
    --border-thickness: 2px
}

.border-3 {
    --border-thickness: 3px
}

.border-4 {
    --border-thickness: 4px
}

.border-5 {
    --border-thickness: 5px
}

.border-solid {
    --border-style: solid
}

.border-dotted {
    --border-style: dotted
}

.border-dashed {
    --border-style: dashed
}

.border-none {
    --border-style: none
}

.borderder-transp {
    --border-color: transparent
}

.border-white {
    --border-color: var(--background)
}

.border-background {
    --border-color: var(--background)
}

.border-gray-darkest-2x {
    --border-color: var(--gray-darkest-2x)
}

.border-gray-darkest {
    --border-color: var(--gray-darkest)
}

.border-gray-darker {
    --border-color: var(--gray-darker)
}

.border-gray-dark {
    --border-color: var(--gray-dark)
}

.border-inherit {
    --border-color: inherit
}

.border-b {
    border: none;
    border-bottom: 1px solid var(--gray-dark)
}

.border-t {
    border: none;
    border-top: 1px solid var(--gray-dark)
}

.border-r {
    border: none;
    border-right: 1px solid var(--gray-dark)
}

.border-l {
    border: none;
    border-left: 1px solid var(--gray-dark)
}

.border-dashed-b {
    border: none;
    border-bottom: 1px dashed var(--gray-dark)
}

.border-dashed-t {
    border: none;
    border-top: 1px dashed var(--gray-dark)
}

.border-dashed-r {
    border: none;
    border-right: 1px dashed var(--gray-dark)
}

.border-dashed-l {
    border: none;
    border-left: 1px dashed var(--gray-dark)
}

.border-x {
    border: none;
    border-right: 1px solid var(--gray-dark);
    border-left: 1px solid var(--gray-dark)
}

.border-dashed-x {
    border: none;
    border-right: 1px dashed var(--gray-dark);
    border-left: 1px dashed var(--gray-dark)
}

.border-y {
    border: none;
    border-top: 1px solid var(--gray-dark);
    border-bottom: 1px solid var(--gray-dark)
}

.border-dashed-y {
    border: none;
    border-top: 1px dashed var(--gray-dark);
    border-bottom: 1px dashed var(--gray-dark)
}

.radius {
    border-radius: var(--border-radius-medium);
    overflow: hidden
}

.radius-full {
    border-radius: 100%;
    overflow: hidden
}

.flex {
    display: flex
}

.flex-center {
    justify-content: center;
    align-items: center
}

.flex-row {
    flex-direction: row
}

.flex-column {
    flex-direction: column
}

.items-center {
    align-items: center
}

.justify-center {
    justify-content: center
}

.justify-between {
    justify-content: space-between
}

.justify-end {
    justify-content: flex-end
}

.self-x-center {
    justify-self: center
}

.align-self-center {
    align-self: center
}

.self-y-center {
    align-self: center
}

.overflow-hidden {
    overflow: hidden
}

.pointer {
    cursor: pointer
}

.w-100p {
    width: 100%
}

.w-80p {
    width: 80%
}

.w-75p {
    width: 75%
}

.w-50p {
    width: 50%
}

.w-33p {
    width: 33.33%
}

.w-25p {
    width: 25%
}

.w-66p {
    width: 66.66%
}

.w-10r {
    width: 10rem
}

.h-100p {
    height: 100%
}

.h-75p {
    height: 75%
}

.h-50p {
    height: 50%
}

.h-33p {
    height: 33.33%
}

.h-25p {
    height: 25%
}

.h-66p {
    height: 66.66%
}

.h-10r {
    height: 10rem
}

.wh-100p {
    width: 100%;
    height: 100%
}

.no-resize {
    resize: none
}

.font-large {
    font-size: 1rem
}

.outline-no {
    outline: none
}

.bg-white {
    background-color: #fff
}

.bg-accent-color {
    background-color: var(--accent-color)
}

.bg-green {
    background-color: var(--green)
}

.bg-background {
    background-color: var(--background)
}

.bg-gray-darkest-2x {
    background-color: var(--gray-darkest-2x)
}

.bg-gray-darkest {
    background-color: var(--gray-darkest)
}

.bg-gray-darker {
    background-color: var(--gray-darker)
}

.bg-gray-dark {
    background-color: var(--gray-dark)
}

.bg-gray-100 {
    background-color: var(--gray-100)
}

.hover-bg-close:hover {
    background-color: #e4a5a5
}

.hover-border-accent-color:hover {
    border: 1px solid var(--accent-color)
}

.hover-border-green:hover {
    border: 1px solid var(--green)
}

.hover-border-background:hover {
    border: 1px solid var(--background)
}

.hover-border-gray-darkest-2x:hover {
    border: 1px solid var(--gray-darkest-2x)
}

.hover-border-gray-darkest:hover {
    border: 1px solid var(--gray-darkest)
}

.hover-border-gray-darker:hover {
    border: 1px solid var(--gray-darker)
}

.hover-border-gray-dark:hover {
    border: 1px solid var(--gray-dark)
}

.hover-border-gray-100:hover {
    border: 1px solid var(--gray-100)
}

.hover-bg-accent-color:hover {
    background-color: var(--accent-color)
}

.hover-bg-green:hover {
    background-color: var(--green)
}

.hover-bg-background:hover {
    background-color: var(--background)
}

.hover-bg-gray-darkest-2x:hover {
    background-color: var(--gray-darkest-2x)
}

.hover-bg-gray-darkest:hover {
    background-color: var(--gray-darkest)
}

.hover-bg-gray-darker:hover {
    background-color: var(--gray-darker)
}

.hover-bg-gray-dark:hover {
    background-color: var(--gray-dark)
}

.hover-bg-gray-100:hover {
    background-color: var(--gray-100)
}

.border-transp {
    border-color: transparent
}

.border-accent {
    border-color: var(--accent-color)
}

.clr-accent {
    color: var(--accent-color)
}

.clr-white {
    color: var(--background)
}

.clr-background {
    color: var(--background)
}

.clr-gray-darkest-2x {
    color: var(--gray-darkest-2x)
}

.clr-gray-darkest {
    color: var(--gray-darkest)
}

.clr-gray-darker {
    color: var(--gray-darker)
}

.clr-gray-dark {
    color: var(--gray-dark)
}

.clr-inherit {
    color: inherit
}

.inline {
    display: inline
}

.inline-block {
    display: inline-block
}

.error-border {
    border-color: var(--color-error-text)
}

.error-text {
    color: var(--color-error-text)
}

.no-wrap {
    white-space: -moz-nowrap;
    white-space: -o-nowrap;
    white-space: nowrap;
    word-wrap: break-word
}

.bold {
    font-weight: bold
}

.italic {
    font-style: italic
}

.text-center {
    text-align: center
}

.select-none {
    user-select: none
}

.shadow-light {
    box-shadow: 0px 3px 5px -5px rgba(0,0,0,.5)
}

.block {
    display: block
}

.relative {
    position: relative
}

.absolute {
    position: absolute
}

.fixed {
    position: fixed
}

.hidden {
    display: none
}

.tr-0 {
    top: 0;
    right: 0
}

.absolute-full {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}

.t-50p {
    top: 50%
}

.l-50p {
    left: 50%
}

.translate-x-50p {
    transform: translateX(-50%)
}

.translate-y-50p {
    transform: translateY(-50%)
}

.translate-center {
    top: 50%;
    left: 50%
}

.post-body .post-text + .post-image {
    background-color: #1e182b
}

    .post-body .post-text + .post-image > img {
        user-drag: none;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-drag: none;
        -webkit-user-select: none;
        -ms-user-select: none
    }

.transition {
    transition: var(--transition-peoperty) var(--transition-duration) var(--transition-easing)
}

.transition-very-fast {
    --transition-duration: 100ms
}

.transition-fast {
    --transition-duration: 250ms
}

.transition-normal {
    --transition-duration: 500ms
}

.transition-slow {
    --transition-duration: 750ms
}

.transition-linear {
    --transition-easing: linear
}

.transition-ease-in {
    --transition-easing: ease-in
}

.transition-ease-out {
    --transition-easing: ease-out
}

.transition-ease-in-out {
    --transition-easing: ease-in-out
}

.transition-color {
    --transition-property: color
}

.transition-transform {
    --transition-property: transform
}

.transition-opacity {
    --transition-property: opacity
}

.transition-opacity {
    --transition-property: opacity
}

.input-file {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.right-bottom {
    top: 100%;
    right: 0
}

.right-top {
    bottom: 100%;
    right: 0
}

.zindex-1 {
    z-index: 1
}

.zindex-2 {
    z-index: 2
}

.zindex-3 {
    z-index: 3
}

.zindex-4 {
    z-index: 4
}

.zindex-5 {
    z-index: 5
}

.zindex-6 {
    z-index: 6
}

.zindex-7 {
    z-index: 7
}

.zindex-8 {
    z-index: 8
}

.zindex-9 {
    z-index: 9
}

.zindex-10 {
    z-index: 10
}

.check {
    --toggle-width: 4rem;
    position: relative;
    width: var(--toggle-width);
    height: calc(var(--toggle-width) / 2);
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none
}

    .check.check-medium {
        --toggle-width: 3rem
    }

    .check.check-small {
        --toggle-width: 2rem
    }

    .check:before {
        content: "";
        width: var(--toggle-width);
        height: calc(var(--toggle-width) / 2);
        background-color: #ddd;
        border-radius: calc(var(--toggle-width) / 2);
        position: absolute
    }

    .check:checked:before {
        background-color: #444
    }

    .check:after {
        content: "";
        display: flex;
        align-items: center;
        width: calc(var(--toggle-width) / 2);
        height: calc(var(--toggle-width) / 2);
        background-color: #fff;
        border-radius: calc(var(--toggle-width) / 2);
        position: absolute;
        left: 0;
        transition: left 150ms ease,border-color 150ms ease;
        border: calc(var(--toggle-width) / 16) solid #ddd
    }

    .check:checked:after {
        border: calc(var(--toggle-width) / 16) solid #444;
        left: calc(var(--toggle-width) / 2)
    }

.uppercase {
    text-transform: uppercase
}

.lowercase {
    text-transform: lowercase
}

.capitalize {
    text-transform: capitalize
}

h1 {
    font-size: 150%
}

h2 {
    font-size: 137.5%
}

h3 {
    font-size: 125%
}

h4 {
    font-size: 112.5%
}

h5 {
    font-size: 100%
}

h6 {
    font-size: 87.5%
}
/*# sourceMappingURL=style.css.map */
