
@{
    ViewBag.Title = "RateReview";
}

<div class="content-main p-wide">
    <div class="checkout-hedader">
        <div class="input-header p-wide text-center bg-white shadow-light radius">
            <h2>Ratings and Reviews</h2>
        </div>
    </div>
    <div class="checkbox-body w-100p flex flex-row m-t-wide">
        <div class="checkout-summary w-75p bg-white shadow-light radius m-r-wide h-25p">
            <div class="sub-section flex flex-column justify-between">
                <div class="checkout-summary-main">
                    <div class="book-lists flex flex-column w-100p">
                        <div class="book-list flex flex-column p-wide w-100p">
                            <div class="flex flex-row">
                                <div class="book-image w-10r radius">
                                    <a href="book.html" class="w-100p">
                                        <img class="w-100p" src="https://m.media-amazon.com/images/I/71kzbqDiPIL._AC_UY218_.jpg" alt="Dream with your Eyes Open: An Entrepreneurial Journey">
                                    </a>
                                </div>
                                <div class="book-details m-l-wide flex flex-column justify-between relative w-100p">
                                    <div class="book-cart-details flex flex-row justify-between h-100p">
                                        <div class="book-cart-details-left flex flex-column">
                                            <div class="book-cart-details-main">
                                                <h3 class="p-y-normal p-t-0"><a class="anchor" href="book.html">Dream with your Eyes Open: An Entrepreneurial Journey</a></h3>
                                                <p class="p-y-small text-big"><a class="anchor clr-gray-darkest-2x" href="author.html">by Ronnie Screwvala | 1 February 2016</a></p>
                                                <p class="p-y-small bg-gray-dark p-small inline-block">Paperback</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex border-t m-t-wide">
                                        <div class="rate p-y-wide w-25p">
                                            <h4 class="m-b-medium">Rate this book</h4>
                                            <div class="review-stats-stars-calc">
                                                <div class="book-stars">
                                                    <i class="fas fa-star starred"></i>
                                                    <i class="fas fa-star starred"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="review p-y-wide w-75p">
                                            <h4 class="m-b-medium">Review this book</h4>
                                            <textarea class="input w-100p h" name="review" id="review" cols="30" rows="10"></textarea>
                                        </div>
                                    </div>
                                    <button class="input w-20p m-l-auto bg-accent-color clr-white border-accent">Rate and Review</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="checkout-details w-25p">
            <div class="checkout-addresses bg-white m-b-wide w-100p shadow-light radius ">
                <h3 class="p-medium border-b bg-gray-100"><span class="radius-full bg-accent"></span>Total Ratings</h3>
                <div class="sub-section p-wide">
                    <div class="review-stats-stars-calc">
                        <div class="book-stars-count">
                            <h4 class="book-stars-count"><span>4.3</span></h4>
                            <b class="book-stars-slash">/</b>
                            <h4 class="book-stars-total"><sub>5</sub></h4>
                        </div>
                        <div class="book-stars">
                            <i class="fas fa-star starred"></i>
                            <i class="fas fa-star starred"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="checkout-addresses bg-white m-b-wide w-100p shadow-light radius ">
                <h3 class="p-medium border-b bg-gray-100"><span class="radius-full bg-accent"></span>Best comment</h3>
                <div class="sub-section p-wide">
                    <h4>Nothing to see here.</h4>
                </div>
            </div>
        </div>
    </div>
</div>