
@{
    ViewBag.Title = "Forgot";
}

                <div class="content">
                    <div class="input-box">
                        <div class="input-header">
                            <h2>Forgot Password</h2>
                        </div>
                        <div class="input-form">
                            <form method="POST">
                                <label for="uemail">Email:</label>
                                <br />
                                <input class="input" type="email" name="uemail" id="uemail" autocomplete="off" autofocus required>
                                <br />
                                <small class="gray-6">If you are a registered user, you will receive a password recovery email in no time.</small>
                                <div class="input-actions">
                                    <a class="a-button input" href="/login">Log-in</a>
                                    <button class="button bg-accent-color border-accent input clr-white" type="submit">Reset password</button>
                                </div>
                            </form>
                    </div>
                </div>
            </div>
       

