
@{
    ViewBag.Title = "Registration";
}

                <div class="content">
                    <div class="input-box">
                        <div class="input-header">
                            <h2>Admin Registration</h2>
                        </div>
                        <div class="input-form">
                            <form method="POST">
                                <!--  <label for="id">Admin ID:</label>
      <br />
      <input class="input" type="text" name="id" id="id" autocomplete="off" autofocus required>
      <br /> -->
                                <label for="fname">First Name:</label>
                                <br />
                                <input class="input" type="text" name="fname" id="fname" autocomplete="off" autofocus required>
                                <br />
                                <label for="lname">Last Name:</label>
                                <br />
                                <input class="input" type="text" name="lname" id="lname" autocomplete="off" autofocus required>
                                <br />
                                <label for="cont">Contact Number:</label>
                                <br />
                                <input class="input" type="text" name="cont" id="cont" autocomplete="off" autofocus placeholder="+91" required>
                                <br />
                                <label for="email">Email:</label>
                                <br />
                                <input class="input" type="email" name="email" id="email" autocomplete="off" autofocus required>
                                <br />
                                <label for="pass">Password:</label>
                                <br />
                                <input class="input" type="password" name="pass" id="pass" autocomplete="off" required>
                                <br />
                                <label for="upass2">Confirm password:</label>
                                <br />
                                <input class="input" type="password" name="upass2" id="upass2" autocomplete="off" required>
                                <div class="input-actions">
                                    <button class="button" type="submit">Register</button>
                                    <a class="a-button" href="/Admin/Login">Log-in</a>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
           
