@using BOL
@{
    ViewBag.Title = "UpdateByPrice";


}

@{ 

    Books thebook = Model as Books;


<div class="content">
    <form action="" class="w-100p" method="post">
        <div class="bg-white w-100p p-wide">
            <div class="input-header p-b-wide text-center">
                <h2>Add New Book</h2>
            </div>
            <div class="flex flex-row">
                <div class="book-details-left w-50p p-medium">


                    <div class="book-prices p-medium">
                        <h3 class="m-b-medium p-medium border-b bg-gray-100">Book Prices</h3>
                        <div class="book-option">
                            <input type="checkbox" name="book-option" value="paperback" id="paperback">
                            <label for="paperback" class="select-none">Paperback</label>
                        </div>
                        <div class="book-option m-l-medium">
                            <input type="checkbox" name="book-option" value="hardcover" id="hardcover">
                            <label for="hardcover" class="select-none">Hardcover</label>
                        </div>
                        <div class="book-option m-l-medium">
                            <input type="checkbox" name="book-option" value="ebook" id="ebook">
                            <label for="ebook" class="select-none">Ebook</label>
                        </div>
                    </div>
                    <div class="book-details-row flex flex-row m-b-medium justify-between">
                        <label for="bid">Book ID:</label>
                        <input class="input w-50p" type="hidden" name="bid" id="bid" value="@thebook.booksID" readonly autocomplete="off" required>
                    </div>
                    <div class="book-details-row flex flex-row m-b-medium justify-between">
                        <label for="bpp">Paper Book Price:</label>
                        <input class="input w-50p" type="text" name="bpp" id="bpp" value="@thebook.paperprice" autocomplete="off" required>
                    </div>
                    <div class="book-details-row flex flex-row m-b-medium justify-between">
                        <label for="bhp">Hard Book Price:</label>
                        <input class="input w-50p" type="text" name="bhp" id="bhp" value="@thebook.hardprice" autocomplete="off" required>
                    </div>
                    <div class="book-details-row flex flex-row m-b-medium justify-between">
                        <label for="ebp">E-Book Price:</label>
                        <input class="input w-50p" type="text" name="ebp" id="ebp" value="@thebook.ebookprice" autocomplete="off" required>
                    </div>

                </div>
            </div>
            <div class="input-actions text-center">
                <button type="reset" class="button border border-2 input" >Cancel</button>
                <button class="button bg-accent-color border-accent border border-2 input clr-white" type="submit">Add Book</button>
            </div>
        </div>
        
    </form>

</div>

    }