@using BOL;
@{
    ViewBag.Title = "Update";

}

<h2>Update</h2>

@{ 
    List<Books> bookm = (List<Books>)this.ViewData["books"];
    foreach (Books book in bookm)
    {
    <li>
        <p>@book.bookname</p>
        
        <a href="/admin/book/update/@book.booksID">Update Book</a>    |     <a href="/admin/book/updateprice/@book.booksID">Update Book By Price</a>     |     <a href="/admin/book/archive/@book.booksID">Archive Book</a>
    </li>
    }
}

